ANTHROPIC_API_KEY=
CONFLUENCE_URL=https://twilio-productivity.atlassian.net
GITHUB_ORGS=segmentio,twilio
GITHUB_TOKEN=
JIRA_EMAIL=
JIRA_API_TOKEN=
JIRA_URL=https://twilio-engineering.atlassian.net
PORT=1337
REPORTS_DIR=../dev-log
